@font-face {
  font-family: "Druk Wide";
  src: url("/fonts/DrukTextWide-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Druk";
  src: url("/fonts/Druk-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Futura Condensed Bold";
  src: url("/fonts/Futura-CondensedBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Futura Bold";
  src: url("/fonts/Futura-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Futura Medium";
  src: url("/fonts/Futura-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Futura Condensed Medium";
  src: url("/fonts/Futura-CondensedMedium.otf") format("opentype");
  font-display: swap;
}

html {
  font-family: "Futura Condensed Bold" !important;
  scroll-behavior: smooth;
  background-color: #070707;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; 
  border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c05328; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1431d;
}